:root
{
    --mainColor:rgb(211, 211, 211);
    --corVerde:rgb(1, 157, 11);
}
body
{ 
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, white, black);
}
main{
    width: 91.5%;
    margin-left: 55px;
    background-color: white;
    color: black;
} 
.pergunta{
    font-size: 40px;
}
h2{
    text-align: center;
    background-color: black;
    color: white;
}
.cabecalho1
{
    width: 100%; 
    height:80px;

    margin: auto;
    box-shadow: 1px 1px 1px rgb(1, 157, 11);
    background-color: var(--mainColor);
}
.corButao
{
    float: right;
   padding: 20px;
}
.logo
{  
    width: 10%;
    float: left;
}
a.one
{
   color: inherit;
   text-decoration: none;
}
