body
{ width: 100%;
  height: 100%;

}
.cabecalho1
{
    width: 100%; 
    height:80px;
    background-color:  rgb(241, 241, 241);

}
.corButao
{
    float: right;
   padding: 20px;
}
.logo
{  
    width: 10%;
    float: left;


}

a.one
{
   color: inherit;
   text-decoration: none;
}

